.container-head {
    @include size(70px, 100vw);
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    &.black{
        border-bottom: 1px solid $primary_color;
    }
    .head {
        width: 80%;
        @include centerPosition(flex, space-between);
        align-items:center;
        .head-sx{
            img{
                height: 60px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .container-head {
        height: 100px;
        .head{
            justify-content: center;
            flex-direction: column;
        }
    }
}
