.container {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    .cards {
        width: 80%;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                height: 300px;
                width: 200px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                list-style: none;
                background-color: #f28400;
                    img {
                        height:150px;
                    }h2{
                        font-size: 15px;

                }
            }
        }
    }
}
