.container-ajax {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    @include centerPosition();
    .cards {
        width: 80%;
        @include centerPosition();
        flex-wrap: wrap;
        .card {
            @include size();
            @include centerPosition();
            border: 1px solid #f28400;
            flex-direction: column;
            align-items: center;
            background-color: black;
            color: #f28400;
            margin: 20px 20px;
            &:hover{
                background-color: #f28400;;
                color: black;
                color: white;
                border-color: white;
                cursor: pointer;
            }
            img {
                height:150px;
                margin-bottom: 10px;
            }h2 {
                font-size: 15px;
                margin-bottom: 10px;

            }
        }
    }
}

.container-php {
    width: 100vw;
    background-color: black;
    @include centerPosition();
    .cards-php {
        width: 80%;
        @include centerPosition();
        flex-wrap: wrap;
        .card-php {
            @include size();
            border: 1px solid #f28400;
            color: #f28400;
            @include centerPosition();
            flex-direction: column;
            align-items: center;
            background-color: black;
            margin: 20px 20px;
            &:hover{
                background-color: #f28400;;
                color: white;
                border-color: white;
                cursor: pointer;
            }
            img {
                height:150px;
                margin-bottom: 10px;
            }h2 {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
    }
}
